.contents {
    padding-bottom: 100px;
}

.cg-main {
    display: block;
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
}

.list_hd_bx {
    position: relative;
    border-bottom: 2px solid #000;
}

.list_hd_bx h2 {
    padding-bottom: 15px;
    color: #333;
    line-height: 30px;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}

.view .list_hd_bx .goods-list {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    display: table;
}

.view .goods-list fieldset {
    display: inline-block;
    float: right;
}

.view .list_hd_bx .goods-list .align {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    float: none;
}

.view .goods-list .align .choice {
    float: right;
    margin-bottom: 0px;
    cursor: pointer;
}

.view .goods-list .align .choice div {
    float: left;
    margin: 0 0 0;
}

.chosen-container, .chosen-single, chosen-sch {
    width: 110px;
}

.contents {
    padding-bottom: 100px;
}

.cg-main {
    display: block;
    max-width: 1180px;
    margin: 0 auto;
}

.list_hd_bx {
    position: relative;
    border-bottom: 2px solid #000;
}

.list_hd_bx h2 {
    padding-bottom: 15px;
    color: #333;
    line-height: 30px;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}

.view .goods-list fieldset {
    display: inline-block;
    float: right;
}

.view .list_hd_bx .goods-list .align {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    float: none;
}

.view .goods-list .align {
    display: inline-block;
    float: right;
    height: 100%;
    margin: 10px 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
}

.view .goods-list .align .choice {
    float: right;
    margin-bottom: 0px;
}

.view .goods-list .align .choice div {
    float: left;
    margin: 0 0 0;
}

.chosen-container, .chosen-single {
    width: 110px;
}

.view .list_hd_bx .goods-list .align {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    float: none;
}

/*.list_hd_bx .chosen-container-single .chosen-sch{border:1px solid #dcdcdc;}*/
.view .list_hd_bx .goods-list .align .choice div .chosen-container a.chosen-single {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
}

.view .list_hd_bx .chosen-container {
    font-size: 14px;
}


.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 400px;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0;
    padding: 5px 0;
}

.chosen-drop{
    display: none;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    line-height: 27px;
    width:100px
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 15px;
    width:100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*font-weight: 700;*/
    letter-spacing: -1px;
    color: #444;
    text-align: left;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../Images/arrow_down.png') no-repeat left 50%;
}

.chosen-container .chosen-drop {
    overflow-y: auto;
    max-height: 400px;
}

.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    /*left: -9999px;*/
    z-index: 10;
    width: inherit;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
}

.view .goods-list .align .chosen-container .chosen-results .active-result {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
}

.chosen-container .chosen-results li {
    padding: 5px 6px !important;
    font-weight: 500;
}

.cg-main .lower-category {
    padding: 10px 0;
    border-style: none;
    font-size: 0;
    text-align: left;
}

.cg-main .lower-category li {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.cg-main .lower-category li span {
    display: block;
    padding: 0 16px;
    margin: 0;
    font-size: 14px;
}

.cg-main .lower-category li:first-child span {
    padding-left: 0;
}
.cg-main .lower-category li span.on {
    color: #000;
}

.cg-main .lower-category li span a {
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
    color: #8f8f8f;
}

.cg-main .lower-category li span a.lc_selected,  .cg-main .lower-category li span a:hover{
    color: black;
}

/*Product Image*/


.item-display .list ul.prdList, .item-display .list ul[class^="prdList"], .item-display .list ul[class*="prdList"] {
    display: table;
    width: 100%;
}

.item-display .list ul {
    padding-top: 10px;
    font-size: 0;
}
.item-display .list ul.prdList li {
    padding: 0 0;
}
.item-display .list ul li {
    display: inline-block;
    padding: 0 0 60px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

li .space {
    display: block;
    position: relative;
    padding: 0 5px 30px 5px;
}

.item-display .list ul li {
    display: inline-block;
    padding: 0 0 60px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

.item-display .list ul.prdList li .space {
    display: block;
    position: relative;
    padding: 0 5px 30px 5px;
}

.item-display .list ul li .thumbnail {
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 100%;
}

.item-display .list ul li .thumbnail > a {
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* text-align: center; */
}

.item-display .list ul.prdList li .prdinfo {
    position: relative;
    display: block;
    padding: 30px 0 0 0;
    text-align: center;
}

.item-display .list ul.prdList li .conditions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.item-display .list ul.prdList li .hot {
    vertical-align: top;
}
.item-display .list ul.prdList li .hot img {
    padding: 2px;
    vertical-align: top;
}

.item-display .list ul.prdList li .txt {
    display: block;
    padding: 0 0 0 0;
    color: #1e1e1e;
    text-align: center;
    line-height: 20px;
}
.item-display .list ul.prdList li .txt a {
    display: block;
    margin: 0;
    text-decoration: none;
}
li .txt .prdName {
    display: block;
    padding: 0;
    color: #333;
    line-height: 22px;
    font-size: 16px;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

li .txt .shortdesc {
    display: block;
    padding: 0;
    color: #8f8f8f;
    line-height: 20px;
    max-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

li .price {
    display: block;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 500;
    padding: 0;
    text-align: center;
    color: #333;
    font-size: 16px;
}

.item-display .list ul.prdList li .price .cost strong {
    font-weight: 700;
}

.hoverfloat {
    position: absolute;
    top:42px;
    left:22px;
    width: 25px;
    z-index: 1;
    display: none;
}

li:hover div.space div.hoverfloat {
    display: block;
}

.hoverfloat img {
    margin:5px;
    cursor: pointer;
}