.adpic_wideslide2 {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 80px 0 120px;
    min-width: 1000px;
    margin: 0 auto;
    background: #fff;
}

#review {
    position: absolute;
    top: -160px;
    right: 0;
    width: 280px;
    height: 652px;
    background: #9b9b9b;
    z-index: 8;
}
.bx-wrapper {
    position: relative;
    max-width:280px;
    padding: 0;
    zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.bx-viewport {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    height: 652px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.bx-viewport::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.bx-slider {
    width: 1000%;
    position: relative;
    transition-duration: 0s;
    transform: translate3d(-280px, 0px, 0px);
    cursor: pointer;
}

.bx-slide {
    float: left;
    list-style: none;
    position: relative;
    width: 280px;
}

.bx-control-box{
    /*position: relative;*/
}

.bx-wrapper .bx-control-box a {
    position: absolute;
    top: auto;
    right:10px;
    bottom: 15px;
    outline: 0;
    width: 11px;
    height: 15px;
    z-index: 99;
    cursor: pointer;
}

.bx-wrapper .bx-control-box a.bx-prev{
    right:65px;
}

.bx-wrapper .bx-control-box > span{
    position: absolute;
    top: auto;
    right:22px;
    bottom: 18px;
    line-height: 18px;
    width: 40px;
    height: 15px;
    z-index: 99;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -1px;
}